@tailwind base;
@tailwind components;
@tailwind utilities;

.badge-notif {
    position:relative;
}

.badge-notif[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:-10px;
    right:-10px;
    font-size:.7em;
    background:#e53935;
    color:white;
    width:18px;
    height:18px;
    text-align:center;
    line-height:18px;
    border-radius: 50%;
}